{% extends 'it_inventory/index.html' %}

{% block content %}
<div class="p-5 mb-4 bg-dark rounded-3 border border-secondary text-center">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-info">Soporte IT - Inventario</h1>
        <p class="fs-4">Bienvenido al sistema de gestión de insumos y estaciones de trabajo.</p>
        <hr class="my-4 border-secondary">
        <p>Utiliza el menú superior para navegar por las categorías o realizar una búsqueda rápida.</p>
    </div>
</div>
{% endblock %}